# Classifiez automatiquement des informations

## Analyse exploratoire des fichiers de donn√©es

### Chargement des jeu de donn√©e

In [ ]:
#!/usr/bin/env python3
import pandas as pd
import matplotlib.pyplot as plt
from matplotlib.patches import Patch
import seaborn as sns
import numpy as np
from typing import List, Union, Dict

# Custom imports
import data_utils as du
import preprocessing as pp

In [14]:
df_eval, df_sirh, df_sondage = pp.charger_donnees('data/extrait_eval.csv', 'data/extrait_sirh.csv', 'data/extrait_sondage.csv')

üìÅ Chargement des donn√©es...
   ‚úì √âvaluations: (1470, 10)
   ‚úì SIRH: (1470, 12)
   ‚úì Sondage: (1470, 12)

### Analyse des jeux de donn√©es

#### SIRH

In [15]:
du.explore_dataframe(df_sirh, False)

Shape : (1470, 12)

,id_employee,age,genre,revenu_mensuel,statut_marital,departement,poste,nombre_experiences_precedentes,nombre_heures_travailless,annee_experience_totale,annees_dans_l_entreprise,annees_dans_le_poste_actuel
0,1,41,F,5993,C√©libataire,Commercial,Cadre Commercial,8,80,8,6,4
1,2,49,M,5130,Mari√©(e),Consulting,Assistant de Direction,1,80,10,10,7
2,4,37,M,2090,C√©libataire,Consulting,Consultant,6,80,7,0,0
3,5,33,F,2909,Mari√©(e),Consulting,Assistant de Direction,1,80,8,8,7
4,7,27,M,3468,Mari√©(e),Consulting,Consultant,9,80,6,2,2

--- INFO ---
<class 'pandas.DataFrame'>
RangeIndex: 1470 entries, 0 to 1469
Data columns (total 12 columns):
 #   Column                          Non-Null Count  Dtype
---  ------                          --------------  -----
 0   id_employee                     1470 non-null   int64
 1   age                             1470 non-null   int64
 2   genre                           1470 non-null   str
 3   revenu_mensuel                  1470 non-null   int64
 4   statut_marital                  1470 non-null   str
 5   departement                     1470 non-null   str
 6   poste                           1470 non-null   str
 7   nombre_experiences_precedentes  1470 non-null   int64
 8   nombre_heures_travailless       1470 non-null   int64
 9   annee_experience_totale         1470 non-null   int64
 10  annees_dans_l_entreprise        1470 non-null   int64
 11  annees_dans_le_poste_actuel     1470 non-null   int64
dtypes: int64(8), str(4)
memory usage: 137.9 KB

--- DESCRIBE ---

,id_employee,age,revenu_mensuel,nombre_experiences_precedentes,nombre_heures_travailless,annee_experience_totale,annees_dans_l_entreprise,annees_dans_le_poste_actuel
count,1470.000000,1470.000000,1470.000000,1470.000000,1470.0,1470.000000,1470.000000,1470.000000
mean,1024.865306,36.923810,6502.931293,2.693197,80.0,11.279592,7.008163,4.229252
std,602.024335,9.135373,4707.956783,2.498009,0.0,7.780782,6.126525,3.623137
min,1.000000,18.000000,1009.000000,0.000000,80.0,0.000000,0.000000,0.000000
25%,491.250000,30.000000,2911.000000,1.000000,80.0,6.000000,3.000000,2.000000
50%,1020.500000,36.000000,4919.000000,2.000000,80.0,10.000000,5.000000,3.000000
75%,1555.750000,43.000000,8379.000000,4.000000,80.0,15.000000,9.000000,7.000000
max,2068.000000,60.000000,19999.000000,9.000000,80.0,40.000000,40.000000,18.000000

--- MISSING VALUES ---

üåê Pourcentage de cellules vides sur tout le DataFrame : 0.00%

####  Analyse des donn√©es SIRH

**Aucune donn√©e manquante d√©tect√©e**

**Variables (Features)**
``
- `id_employee` : Identifiant unique de l‚Äôemploy√©  
  - Variable technique (√† exclure des mod√®les pr√©dictifs)
  - Peut-√™tre utile pour la jointure

- `age` : √Çge de l‚Äôemploy√©  
  - Variable num√©rique continue

- `genre` : Sexe de l‚Äôemploy√©  
  - Variable cat√©gorielle binaire (F/M)  
  - √Ä encoder (ex. encodage binaire)

- `revenu_mensuel` : Salaire mensuel  
  - Forte dispersion des valeurs  
  - Minimum : 1 009, Maximum : 19 999  
  - √Ä analyser (outliers, normalisation √©ventuelle)

- `statut_marital` : Situation familiale  
  - Variable cat√©gorielle  
  - √Ä v√©rifier pour l‚Äôencodage

- `departement` : D√©partement / division de l‚Äôentreprise  
  - Variable cat√©gorielle  
  - √Ä encoder

- `poste` : Intitul√© du poste occup√©  
  - Variable cat√©gorielle  
  - Forte cardinalit√© possible ‚Üí √† surveiller pour l‚Äôencodage

- `nombre_experiences_precedentes` : Nombre d‚Äôentreprises dans lesquelles l‚Äôemploy√© a travaill√© auparavant  
  - Variable num√©rique discr√®te

- `nombre_heures_travaillees` : Nombre d‚Äôheures travaill√©es  
  - Valeur identique pour tous les employ√©s (80)  
  - Variable non informative ‚Üí √† supprimer

- `annee_experience_totale` : Nombre total d‚Äôann√©es d‚Äôexp√©rience professionnelle  
  - Variable num√©rique continue

- `annees_dans_l_entreprise` : Anciennet√© dans l‚Äôentreprise actuelle  
  - Variable num√©rique continue

- `annees_dans_le_poste_actuel` : Anciennet√© dans le poste actuel  
  - Variable num√©rique continue

#### Eval

In [16]:
du.explore_dataframe(df_eval, False)

Shape : (1470, 10)

,satisfaction_employee_environnement,note_evaluation_precedente,niveau_hierarchique_poste,satisfaction_employee_nature_travail,satisfaction_employee_equipe,satisfaction_employee_equilibre_pro_perso,eval_number,note_evaluation_actuelle,heure_supplementaires,augementation_salaire_precedente
0,2,3,2,4,1,1,E_1,3,Oui,11 %
1,3,2,2,2,4,3,E_2,4,Non,23 %
2,4,2,1,3,2,3,E_4,3,Oui,15 %
3,4,3,1,3,3,3,E_5,3,Oui,11 %
4,1,3,1,2,4,3,E_7,3,Non,12 %

--- INFO ---
<class 'pandas.DataFrame'>
RangeIndex: 1470 entries, 0 to 1469
Data columns (total 10 columns):
 #   Column                                     Non-Null Count  Dtype
---  ------                                     --------------  -----
 0   satisfaction_employee_environnement        1470 non-null   int64
 1   note_evaluation_precedente                 1470 non-null   int64
 2   niveau_hierarchique_poste                  1470 non-null   int64
 3   satisfaction_employee_nature_travail       1470 non-null   int64
 4   satisfaction_employee_equipe               1470 non-null   int64
 5   satisfaction_employee_equilibre_pro_perso  1470 non-null   int64
 6   eval_number                                1470 non-null   str
 7   note_evaluation_actuelle                   1470 non-null   int64
 8   heure_supplementaires                      1470 non-null   str
 9   augementation_salaire_precedente           1470 non-null   str
dtypes: int64(7), str(3)
memory usage: 115.0 KB

--- DESCRIBE ---

,satisfaction_employee_environnement,note_evaluation_precedente,niveau_hierarchique_poste,satisfaction_employee_nature_travail,satisfaction_employee_equipe,satisfaction_employee_equilibre_pro_perso,note_evaluation_actuelle
count,1470.000000,1470.000000,1470.000000,1470.000000,1470.000000,1470.000000,1470.000000
mean,2.721769,2.729932,2.063946,2.728571,2.712245,2.761224,3.153741
std,1.093082,0.711561,1.106940,1.102846,1.081209,0.706476,0.360824
min,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,3.000000
25%,2.000000,2.000000,1.000000,2.000000,2.000000,2.000000,3.000000
50%,3.000000,3.000000,2.000000,3.000000,3.000000,3.000000,3.000000
75%,4.000000,3.000000,3.000000,4.000000,4.000000,3.000000,3.000000
max,4.000000,4.000000,5.000000,4.000000,4.000000,4.000000,4.000000

--- MISSING VALUES ---

üåê Pourcentage de cellules vides sur tout le DataFrame : 0.00%

#### Analyse des donn√©es EVAL

- Aucune donn√©e manquante d√©tect√©e  
- Aucune donn√©e aberrante apparente

**Variables (Features)**

- `eval_number` : Identifiant unique de l‚Äô√©valuation  
  - Format : `E_X` o√π `X` est un nombre  
  - Variable technique (√† exclure des mod√®les pr√©dictifs)
  - Peut-√™tre utile pour la jointure

- `satisfaction_employee_environnement` : Niveau de satisfaction de l‚Äôemploy√© concernant son environnement de travail  
  - Variable num√©rique ordinale  
  - √Ä v√©rifier (√©chelle de type Likert)

- `satisfaction_employee_nature_travail` : Niveau de satisfaction concernant la nature et le contenu du travail  
  - Variable num√©rique ordinale

- `satisfaction_employee_equipe` : Niveau de satisfaction concernant l‚Äô√©quipe et les coll√®gues  
  - Variable num√©rique ordinale

- `satisfaction_employee_equilibre_pro_perso` : Niveau de satisfaction concernant l‚Äô√©quilibre vie professionnelle / vie personnelle  
  - Variable num√©rique ordinale

- `note_evaluation_precedente` : Note obtenue lors de l‚Äô√©valuation annuelle pr√©c√©dente  
  - Variable num√©rique  
  - √Ä analyser en lien avec la performance actuelle

- `note_evaluation_actuelle` : Note obtenue lors de l‚Äô√©valuation annuelle actuelle  
  - Variable num√©rique  
  - Variable cible potentielle selon l‚Äôobjectif de l‚Äôanalyse

- `niveau_hierarchique_poste` : Niveau hi√©rarchique du poste occup√©  
  - Variable num√©rique ordinale  
  - √Ä v√©rifier (ordre et distribution des niveaux)

- `heure_supplementaires` : Indique si l‚Äôemploy√© effectue des heures suppl√©mentaires  
  - Variable cat√©gorielle binaire (Oui/Non)  
  - √Ä encoder

- `augmentation_salaire_precedente` : Pourcentage d‚Äôaugmentation salariale lors du dernier cycle  
  - Variable num√©rique continue  
  - √Ä analyser (dispersion, valeurs extr√™mes √©ventuelles)

In [17]:
du.explore_dataframe(df_sondage, False)

Shape : (1470, 12)

,a_quitte_l_entreprise,nombre_participation_pee,nb_formations_suivies,nombre_employee_sous_responsabilite,code_sondage,distance_domicile_travail,niveau_education,domaine_etude,ayant_enfants,frequence_deplacement,annees_depuis_la_derniere_promotion,annes_sous_responsable_actuel
0,Oui,0,0,1,1,1,2,Infra & Cloud,Y,Occasionnel,0,5
1,Non,1,3,1,2,8,1,Infra & Cloud,Y,Frequent,1,7
2,Oui,0,3,1,4,2,2,Autre,Y,Occasionnel,0,0
3,Non,0,3,1,5,3,4,Infra & Cloud,Y,Frequent,3,0
4,Non,1,3,1,7,2,1,Transformation Digitale,Y,Occasionnel,2,2

--- INFO ---
<class 'pandas.DataFrame'>
RangeIndex: 1470 entries, 0 to 1469
Data columns (total 12 columns):
 #   Column                               Non-Null Count  Dtype
---  ------                               --------------  -----
 0   a_quitte_l_entreprise                1470 non-null   str
 1   nombre_participation_pee             1470 non-null   int64
 2   nb_formations_suivies                1470 non-null   int64
 3   nombre_employee_sous_responsabilite  1470 non-null   int64
 4   code_sondage                         1470 non-null   int64
 5   distance_domicile_travail            1470 non-null   int64
 6   niveau_education                     1470 non-null   int64
 7   domaine_etude                        1470 non-null   str
 8   ayant_enfants                        1470 non-null   str
 9   frequence_deplacement                1470 non-null   str
 10  annees_depuis_la_derniere_promotion  1470 non-null   int64
 11  annes_sous_responsable_actuel        1470 non-null   int64
dtypes: int64(8), str(4)
memory usage: 137.9 KB

--- DESCRIBE ---

,nombre_participation_pee,nb_formations_suivies,nombre_employee_sous_responsabilite,code_sondage,distance_domicile_travail,niveau_education,annees_depuis_la_derniere_promotion,annes_sous_responsable_actuel
count,1470.000000,1470.000000,1470.0,1470.000000,1470.000000,1470.000000,1470.000000,1470.000000
mean,0.793878,2.799320,1.0,1024.865306,9.192517,2.912925,2.187755,4.123129
std,0.852077,1.289271,0.0,602.024335,8.106864,1.024165,3.222430,3.568136
min,0.000000,0.000000,1.0,1.000000,1.000000,1.000000,0.000000,0.000000
25%,0.000000,2.000000,1.0,491.250000,2.000000,2.000000,0.000000,2.000000
50%,1.000000,3.000000,1.0,1020.500000,7.000000,3.000000,1.000000,3.000000
75%,1.000000,3.000000,1.0,1555.750000,14.000000,4.000000,3.000000,7.000000
max,3.000000,6.000000,1.0,2068.000000,29.000000,5.000000,15.000000,17.000000

--- MISSING VALUES ---

üåê Pourcentage de cellules vides sur tout le DataFrame : 0.00%


Aucune donn√©e manquante
Ne semble pas avoir de donn√©e ab√©rrante

**Features**

- a_quitte_l_entreprise:  L'employ√© a-t-il quitt√© l'entreprise ? 
    - C'est notre variable cible
- nombre_participation_pee: Nombre de participations au Plan d'√âpargne Entreprise
- nb_formations_suivies: Nombre de formations suivies dans l'ann√©e
- nombre_employee_sous_responsabilite: Nombre d'employ√©s sous la responsabilit√© directe
- code_sondage : Identifiant unique du sondage
- distance_domicile_travail : Distance en kilom√®tres entre domicile et lieu de travail
- niveau_education: Niveau d'√©tudes atteint
- domaine_etude: Domaine d'√©tudes/sp√©cialisation
- ayant_enfants: L'employ√© a-t-il des enfants ?
- frequence_deplacement: Fr√©quence des d√©placements professionnels
- annees_depuis_la_derniere_promotion: Nombre d'ann√©es √©coul√©es depuis la derni√®re promotion
- annes_sous_responsable_actuel: Nombre d'ann√©es sous le management du responsable actuel

### Varibale cibles

Notre variable cible sera : `a_quitte_l_entreprise`

In [18]:
TARGET = 'a_quitte_l_entreprise'

### Nettoyage des fichiers

#### Fichier SIRH

In [19]:
columns_to_drop = []

In [20]:
du.display_columns_info(df_sirh, ['nombre_heures_travailless'])

‚îå‚îÄ 1. nombre_heures_travailless
‚îÇ
‚îÇ  üî¢ Type: int64
‚îÇ  üéØ Uniques: 1 (0.1%)
‚îÇ  ‚úÖ Manquantes: 0 (0.0%)
‚îÇ  üìã Valeurs: 80
‚îî‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ

La colonne nombre_heures_travailless, contient qu'une seule valeur unique, elle n'a aucune valeur pr√©dictif

In [21]:
columns_to_drop.append('nombre_heures_travailless')

### Jointure

Afin de pouvoir traiter les donn√©es pour la mod√©lisation il faut r√©unir toutes ces donn√©es dans un seul dataframe. Chaque jeu de donn√©e poss√®de une colonne avec une valeur uniques

- id_employee pour extraint_sirh
- eval_number pour extraint_eval
- code_sondage pour extraint_sondage

V√©rifions si il ya un possible lien entre ces identifants

In [22]:
du.display_columns_info(df_sirh, ['id_employee'])
du.display_columns_info(df_eval, ['eval_number'])
du.display_columns_info(df_sondage, ['code_sondage'])

‚îå‚îÄ 1. id_employee
‚îÇ
‚îÇ  üî¢ Type: int64
‚îÇ  üéØ Uniques: 1,470 (100.0%)
‚îÇ  ‚úÖ Manquantes: 0 (0.0%)
‚îÇ  üìà Min: 1.00 | Max: 2068.00 | Moyenne: 1024.87
‚îî‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ

‚îå‚îÄ 1. eval_number
‚îÇ
‚îÇ  üî§ Type: str
‚îÇ  üéØ Uniques: 1,470 (100.0%)
‚îÇ  ‚úÖ Manquantes: 0 (0.0%)
‚îî‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ

‚îå‚îÄ 1. code_sondage
‚îÇ
‚îÇ  üî¢ Type: int64
‚îÇ  üéØ Uniques: 1,470 (100.0%)
‚îÇ  ‚úÖ Manquantes: 0 (0.0%)
‚îÇ  üìà Min: 1.00 | Max: 2068.00 | Moyenne: 1024.87
‚îî‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ

In [23]:
df_eval['employee_id_extracted'] = df_eval['eval_number'].str.extract(r'E_(\d+)')[0].astype(int)
common_ids = set(df_eval['employee_id_extracted']) & set(df_sirh['id_employee'])
print(f"\n   üìå CORRESPONDANCE TROUV√âE:")
print(f"      eval_number (E_X) ‚Üí id_employee (X)")
print(f"      Exemple: E_1 ‚Üí 1, E_2 ‚Üí 2")
print(f"      Employ√©s communs: {len(common_ids)} / {df_eval['employee_id_extracted'].nunique()}")

   üìå CORRESPONDANCE TROUV√âE:
      eval_number (E_X) ‚Üí id_employee (X)
      Exemple: E_1 ‚Üí 1, E_2 ‚Üí 2
      Employ√©s communs: 1470 / 1470

In [24]:
common_ids_sirh_sondage = set(df_sirh['id_employee']) & set(df_sondage['code_sondage'])
print(f"\n   üìå CORRESPONDANCE TROUV√âE:")
print(f"      code_sondage ‚Üí id_employee (correspondance directe)")
print(f"      Employ√©s communs: {len(common_ids_sirh_sondage)} / {df_sirh['id_employee'].nunique()}")

   üìå CORRESPONDANCE TROUV√âE:
      code_sondage ‚Üí id_employee (correspondance directe)
      Employ√©s communs: 1470 / 1470